<div class="mat-card">
<mat-toolbar color='primary'><span style="color:#fff">Language Master</span></mat-toolbar>
  <form>
  <mat-form-field class="example-full-width formFieldAlign">
    <input matInput  placeholder="Language Name">
  </mat-form-field>

  <mat-form-field  class="example-full-width formFieldAlign">
    <input matInput  placeholder="Language Code">
  </mat-form-field>

  <div>
    <button mat-raised-button  type="submit" class="submit-btn" color="primary"><span class='submit-title'>Submit</span></button>
    </div>  
  </form>
</div>
