<mat-tab-group #tabGroup (selectedTabChange)="tabChanged($event)">
  <mat-tab label="Master">
    <div class="mat-card">
      <mat-toolbar color='primary'><span style="color:#fff">Subject Master</span> </mat-toolbar>
      <form [formGroup]='updateSubjectForm' #formDirective="ngForm"
        (ngSubmit)='submitForm(updateSubjectForm,formDirective)'>


        <div fxLayout="column">
          <div fxLayoutAlign="space-evenly center">
            <mat-form-field class="example-full-width" fxFlex='30'>
              <input matInput formControlName='subjectName' placeholder="Subject Name *">
              <mat-error *ngIf="updateSubjectForm.get('subjectName').hasError('required')">
                Subject Name <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="!updateSubjectForm.get('subjectName').hasError('required') &&
        updateSubjectForm.get('subjectName').hasError('pattern')">
                Subject Name <strong>only Charecters allow</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" fxFlex='30'>
              <input matInput formControlName='subjectCode' placeholder="Subject Code">
              <mat-error *ngIf="updateSubjectForm.get('subjectCode').hasError('required')">
                Subject Code <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="!updateSubjectForm.get('subjectCode').hasError('required') &&
          updateSubjectForm.get('subjectCode').hasError('pattern')">
                Subject Code <strong>Only Alpha Numaric allow</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div fxLayout="column">
          <div fxLayoutAlign="space-evenly center">
            <mat-form-field class="example-full-width" fxFlex='30'>
              <input matInput formControlName='semester' placeholder="semester">
              <mat-error *ngIf="updateSubjectForm.get('semester').hasError('required')">
                semester <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="!updateSubjectForm.get('semester').hasError('required') &&
                    updateSubjectForm.get('semester').hasError('pattern')">
                semester <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" fxFlex='30'>
              <input matInput formControlName='bookName' placeholder="bookName">
              <mat-error *ngIf="updateSubjectForm.get('bookName').hasError('required')">
                bookName <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="!updateSubjectForm.get('bookName').hasError('required') &&
                   updateSubjectForm.get('bookName').hasError('pattern')">
                bookName <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>


        <div fxLayout="column">
          <div fxLayoutAlign="space-evenly center">
            <mat-form-field class="example-full-width" fxFlex='30'>
              <mat-label>Subject Teacher(Incharge) Name</mat-label>
              <mat-select formControlName='user'>
                <mat-option *ngFor='let x of userdto' [value]='x.id'>
                  {{x.username}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="example-full-width" fxFlex='30'>
              <mat-label>Please Select Class</mat-label>
              <mat-select formControlName='classs'>
                <mat-option *ngFor='let x of classDto' [value]='x.id'>
                  {{x.className}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>


        <div fxLayoutAlign="space-around center" class='btn'>
          <button mat-raised-button type="submit" class="submit-btn" color="primary"><span
              class='submit-title'>Submit</span></button>
        </div>
      </form>
    </div>
  </mat-tab>
  <mat-tab label="Subject List">
    <div *ngIf='tableshow ==true'>
      <app-subjectlist></app-subjectlist>>
    </div>
  </mat-tab>
</mat-tab-group>