.mat-toolbar{
    text-align: center!important;  
  }
  .table-card{
    width: 96%;
    margin-left: 3%;
    margin-top: 1%;
    margin-bottom: 10%;
    }
    table {
        width: 100%;
      }
      
      .mat-form-field {
        font-size: 14px;
        width: 100%;
      }
      .icon-align{
        text-align: center !important;
      }
      .icon_edit_color{
        color:#10174c;
        cursor: pointer;
      }
      .icon_delte_color{
        color:#D92121;
        cursor: pointer;
      }