<mat-card>
  <div *ngIf='data !=null'>
    <table >
      <tr >
      <th colspan='4' class='address'>Student Admission Details</th>
      </tr>
        <tr>
          <th>Student Name</th>
          <td>{{data.studentsName}}</td>
          <th>SurName</th>
          <td>{{data.surName}}</td> 
        </tr>
        <tr>
        <th>Guardian Name</th>
        <td>{{data.guardiansName}}</td>
        <th>Student Reg No</th>
        <td>{{data.studentRegNo}}</td>
        </tr>
        <tr>
        <th>Father Name</th>
        <td>{{data.fathersName}}</td>
        <th>Mother Name</th>
        <td>{{data.mothersName}}</td>
        </tr>
        <tr>
        <th>Income</th>
        <td>{{data.income}}</td>
        <th>UID No</th>
        <td>{{data.uidNo}}</td>
        </tr>
        <tr>
        <th>ID No</th>
        <td>{{data.idNo}}</td>
        <th>Contact No</th>
        <td>{{data.contactNo}}</td>
        </tr>
        <tr>
        <th>Status</th>
        <td>{{data.status}}</td>
        <th>Live Status</th>
        <td>{{data.liveStatus}}</td>
        </tr>
        <tr>
        <th>Date</th>
        <td>{{data.date}}</td>
        <th>DOB</th>
        <td>{{data.dateOfBirth}}</td>
        </tr>
        <tr>
        <th>Date Of Birth In Words</th>
        <td>{{data.dateOfBirthInWords}}</td>
        <th>Place Of Birth</th>
        <td>{{data.placeOfBirth}}</td>
        </tr>
        <tr>
        <th>Identity By Mark Or/AadharNo</th>
        <td>{{}data.identityByMarkOrAadharNo}</td>
        <th>Gender</th>
        <td>{{data.gender}}</td>
        </tr>
       <tr>
        <th>Class</th>
        <td>{{Nursery}}</td>
        <th>School</th>
        <td>Al-Rizwan</td>
        </tr>
       <tr>
        <th>School Type</th>
        <td>Nursery</td>
        <th>Religion</th>
        <td>Islam</td>
        </tr>
       <tr>
        <th>Caste</th>
        <td>OBC</td>
        <th>Sub Caste</th>
        <td>Bhujaan</td>
        </tr>
       <tr>
        <th>Mother Tongue</th>
        <td>Urdu</td>
        <th>Occupation</th>
        <td>Buissness</td>
        </tr>
       <tr>
        <th>Society</th>
        <td>SIO Organization</td>
        <th>Nationality</th>
        <td>Indian</td>
        </tr>
        <ng-container *ngFor='let x of data.address'>
        <tr>
        <th colspan='4' class='address'>Student Address Details</th>
        </tr>
        <tr>
       <tr>
        <th>PinCode</th>
        <td>580005</td>
        <th>City</th>
        <td>Hyderabad</td>
        </tr>
       
       <tr>
        <th>State</th>
        <td>Telangana</td>
        <th>Country</th>
        <td>India</td>
        </tr>
        <tr>
        <th>Address</th>
        <th colspan='3'>{{x.detailAddress}}</th>
        </tr>
      </ng-container>
        </table>
      
  </div>
</mat-card>