<mat-card>
  <div>
    <table >
      <tr >
      <th colspan='4' class='address'>Student Admission Details</th>
      </tr>
        <tr>
          <th>SurName</th>
          <td>Lastdsa</td> 
          <th>Student Name</th>
          <td>javeed shaikh</td>
        </tr>
        <tr>
        <th>Guardian Name</th>
        <td>sjadksjadnads</td>
        <th>Student Reg No</th>
        <td>4554566</td>
        </tr>
        <tr>
        <th>Father Name</th>
        <td>Shaikh Zafar</td>
        <th>Mother Name</th>
        <td>Shaikh Shaheen</td>
        </tr>
        <tr>
        <th>Income</th>
        <td>15,000</td>
        <th>UID No</th>
        <td>7895KHS4</td>
        </tr>
        <tr>
        <th>ID No</th>
        <td>CKHPA9727R</td>
        <th>Contact No</th>
        <td>9822654560</td>
        </tr>
        <tr>
        <th>Status</th>
        <td>Present</td>
        <th>Live Status</th>
        <td>Active</td>
        </tr>
        <tr>
        <th>Date</th>
        <td>2020-06-07</td>
        <th>DOB</th>
        <td>1994-07-15</td>
        </tr>
        <tr>
        <th>Date Of Birth In Words</th>
        <td>eight January nineteen ninety three</td>
        <th>Place Of Birth</th>
        <td>Nanded</td>
        </tr>
        <tr>
        <th>Identity By Mark Or/AadharNo</th>
        <td>mole on left hand</td>
        <th>Gender</th>
        <td>Male</td>
        </tr>
       <tr>
        <th>Class</th>
        <td>Nursery</td>
        <th>School</th>
        <td>Al-Rizwan</td>
        </tr>
       <tr>
        <th>School Type</th>
        <td>Nursery</td>
        <th>Religion</th>
        <td>Islam</td>
        </tr>
       <tr>
        <th>Caste</th>
        <td>OBC</td>
        <th>Sub Caste</th>
        <td>Bhujaan</td>
        </tr>
       <tr>
        <th>Mother Tongue</th>
        <td>Urdu</td>
        <th>Occupation</th>
        <td>Buissness</td>
        </tr>
       <tr>
        <th>Society</th>
        <td>SIO Organization</td>
        <th>Nationality</th>
        <td>Indian</td>
        </tr>
        <tr>
        <th colspan='4' class='address'>Student Address Details</th>
        </tr>
        <tr>
       <tr>
        <th>PinCode</th>
        <td>580005</td>
        <th>City</th>
        <td>Hyderabad</td>
        </tr>
       
       <tr>
        <th>State</th>
        <td>Telangana</td>
        <th>Country</th>
        <td>India</td>
        </tr>
        <tr>
        <th>Address</th>
        <th colspan='3'></th>
        </tr>
        </table>
      
  </div>
</mat-card>