.mat-toolbar{
    text-align: center!important;  
  }
  .formFieldAlign{
      margin-left: 10%;
      width: 35%;
  }
  .form-Field-email{
      width: 80%;
      margin-left: 10%;
  
  }
  .formFullFieldAlign{
      width: 80%;
      margin-left: 10%;
  }
  
  .mat-card{
      position: relative;
    margin-top:5%;
    margin-bottom:18%;
  }
  .btn{
    margin-top: 2%;
    margin-bottom: 3%;
}
.mat-toolbar{
    text-align: center!important;  
  }
  .table-card{
    width: 85%;
    margin-left: 5%;
    margin-top: 8%;
    margin-bottom: 5%;
    }
    table {
        width: 100%;
      }
      
      .mat-form-field {
        font-size: 14px;
        width: 100%;
      }
      .icon-align{
        text-align: center !important;
      }
      .icon_edit_color{
        color:#10174c;
        cursor: pointer;
      }
      .icon_delte_color{
        color:#D92121;
        cursor: pointer;
      }
      

      .btn{
        margin-top: 0%;
        margin-bottom: 3%;
    }