<mat-tab-group #tabGroup (selectedTabChange)="tabChanged($event)">
  <mat-tab label="Master">
    <div class="mat-card">
      <mat-toolbar color='primary'><span style="color:#fff">Exam Master</span> </mat-toolbar>
      <form [formGroup]='schoolForm' #formDirective="ngForm" (ngSubmit)='submitForm(schoolForm,formDirective)'>

        <div fxLayout="column">
          <div fxLayoutAlign="space-evenly center">
            <mat-form-field class="example-full-width" fxFlex='30'>
              <input matInput formControlName='examName' placeholder="Exam Name *">
              <mat-error *ngIf="schoolForm.get('examName').hasError('required')">
                School Name <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="!schoolForm.get('examName').hasError('required') &&
        schoolForm.get('examName').hasError('pattern')">
                School Name <strong>only Charecters allow</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" fxFlex='30'>
              <input matInput formControlName='examStartDate' [matDatepicker]="picker" placeholder="ClassStartingDate">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

        <div fxLayout="column">
          <div fxLayoutAlign="space-evenly center">
            <mat-form-field class="example-full-width" fxFlex='30'>
              <input matInput formControlName='examEndDate' [matDatepicker]="pickerTo" placeholder="ClassEndingDate">
              <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
              <mat-datepicker #pickerTo></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="example-full-width" fxFlex='30'>
              <mat-label>Class Name</mat-label>
              <mat-select formControlName='classs'>
                <mat-option *ngFor='let x of classDto' [value]='x.id' (click)='getSubjectData()' >
                  {{x.className}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <div *ngFor="let unit of subjectDto">
              <mat-checkbox [checked]="unit.checked" 
              (change)="valueChange(subjectDto,unit,$event)">
                   {{ unit.subjectName }}
              </mat-checkbox>                        
            </div>
           
          </div>
        </div>
 



        <div fxLayoutAlign="space-around center" class='btn'>
          <button mat-raised-button type="submit" class="submit-btn" color="primary"><span
              class='submit-title'>Submit</span></button>
        </div>
      </form>
    </div>
  </mat-tab>
  <mat-tab label="Exam List">
    <div *ngIf='tableshow ==true'>
      <app-exam-list></app-exam-list>
    </div>
  </mat-tab>
</mat-tab-group>