<div class="mat-card">
  <mat-toolbar color='primary'><span style="color:#fff">Branch Master</span></mat-toolbar>
    <form [formGroup]='branchForm' (ngSubmit)='submit()'>
    <mat-form-field class="example-full-width formFieldAlign">
      <input matInput formControlName='name' placeholder="Branch Name">
  
      <mat-error *ngIf='branchForm.get("name").hasError("required")'>
        Branch Name is <strong>required</strong></mat-error>
      <mat-error *ngIf='!branchForm.get("name").hasError("required")
      && branchForm.get("name").hasError("pattern")'>
        Branch Name  <strong>only Charecters allow</strong></mat-error>
    </mat-form-field>
  
    
  
    <mat-form-field  class="example-full-width formFieldAlign">
      <input matInput formControlName='code' placeholder="Branch Code">
      <mat-error *ngIf='branchForm.get("code").hasError("required")'>
        Branch Code is <strong>required</strong></mat-error>
      <mat-error *ngIf='!branchForm.get("code").hasError("required")
      && branchForm.get("code").hasError("pattern")'>
        Branch Code  <strong>only Numbers allow</strong></mat-error>
    
    </mat-form-field>
  
    <div>
      <button mat-raised-button  type="submit" class="submit-btn" color="primary"><span class='submit-title'>Submit</span></button>
      </div>  
    </form>
  </div>
  