<mat-card>
  <mat-toolbar color='primary'>
    <span style="color:#fff">Students Compliant</span></mat-toolbar>
 
  <form [formGroup]='complianttypesForm' #formDirective="ngForm" (ngSubmit)='submitForm(complianttypesForm,formDirective)'>
   
   
<!--    
 <div fxLayoutAlign="space-evenly center">
<mat-form-field class="example-full-width" fxFlex='30'>
 <input matInput formControlName='income' placeholder="Income">
   </mat-form-field>

   
   <mat-form-field class="example-full-width" fxFlex='30'>
     <input formControlName='contactNo' matInput placeholder="Contact No">
   </mat-form-field>
</div>
  -->

<div fxLayoutAlign="space-evenly center">
<!-- 
   <mat-form-field class="example-full-width " fxFlex='30'>
     <input matInput formControlName='identityByMark' placeholder="Identity By Mark Or AadharNo;">
   </mat-form-field>  -->
   
   <mat-form-field class="example-full-width " fxFlex='30'>
    <mat-label>Student Name</mat-label>
    <mat-select formControlName='admissionId'>
      <mat-option *ngFor='let x of admissionDto' [value]='x.id'>
        {{x.studentsName}}
      </mat-option>
    </mat-select>
  </mat-form-field>

   
  <mat-form-field class="example-full-width " fxFlex='30'>
    <mat-label>Compliant Types</mat-label>
    <mat-select formControlName='complianttypeid'>
      <mat-option *ngFor='let x of complainttypesDto' [value]='x.id'>
        {{x.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  
</div>     


   <div fxLayoutAlign="space-evenly center" fxLayoutAlign="space-evenly center">
    <mat-form-field class="example-full-width" fxFlex='30'>
     <input  ngModel name="remark" matInput formControlName='remark' placeholder="remark" >
   </mat-form-field>

   <div class="form-group">
    <label for="file">Choose File</label>
    <input type="file"
           id="file"
           (change)="handleFileInput($event.target.files)">
    </div>
    <div>
      <button mat-raised-button type="submit" class="submit-btn" color="primary"><span
          class='submit-title'>Submit</span></button>
    </div>

</div>
</form>
</mat-card>


