<div class="container">
  <mat-drawer-container >
  <mat-drawer style="width:20%" mode="side" opened>
    <mat-list>
      <mat-list-item class="item"routerLink='../table-layout/school-list'>School </mat-list-item>
      <mat-divider></mat-divider> 
      <mat-list-item class="item"routerLink='../table-layout/schoolType-list'>School Type </mat-list-item>
      <mat-divider></mat-divider> 
      <mat-list-item class="item" routerLink='../table-layout/paymentType-list'>Payement Type </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item class="item" routerLink='../table-layout/class'>Class</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item class="item" routerLink='../table-layout/book'>Book </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item class="item" routerLink='../table-layout/religion'>Religion</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item class="item" routerLink='../table-layout/caste'>Caste</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item class="item" routerLink='../table-layout/mothertongue'>MotherTongue</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item class="item" routerLink='../table-layout/branch'>Branch</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item class="item" routerLink='../table-layout/occupation'>Occupation</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item class="item" routerLink='../table-layout/society'>Society</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item class="item" routerLink='../table-layout/nationality'>Nationality</mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
    </mat-drawer>
  <mat-drawer-content>
   <router-outlet ></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
